/* This is css which is important to html as it gives the web page its look and also behavior*/
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:var(--head);
  transition: 0.3s;
}

.Gname h1{
  color: var(--Gname);
}
.Gname:hover {
  opacity: 0.8;
}

.header {
  padding: 40px; 
  text-align: left;
  background:var(--primary-color);
  box-shadow: 5px 5px 5px var(--tertiary-color);
  background-size: 100px 100px;
  transition: 0.3s;
}

.joinbtn:hover {
  opacity: 0.8;
}

.joinbtn {
  float: right; 
  top: 8px;
  right: 16px;
  padding: 6px;
  margin-right: 450px;
  border: none;
  cursor: pointer;
}

.join input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  line-height: 2px;
}

.join .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #d8837d;
  border: none;

}

.joinHead h1 {
  text-align: center;
  margin: 6px 0 4px 0;
  position: relative; 
  line-height: 2px;
}

.join .submit {
  background: rgb(201, 199, 199);
  padding: 12px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.join .container {
  padding: 16px;
}

.join span.psw {
  float: right;
  padding-top: 16px;
  color: #333;
}

.join .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow:hidden; /* scroll */
  background-color: rgb(0,0,0); /* blur */
  background-color: rgba(0,0,0,0.4); /* opacity */
  padding-top: 100px;
}

/* Modal Content */
.join .modal-content {
  background-color: #fefefe;
  margin: auto auto auto auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%;
}

.alacc {
  margin-bottom: -20px;
}

/*  Button (x) */
.join .close {
  text-align: right;
  padding-right: 1%;
  position: relative;
  z-index: 1000;
  color:#333;
  font-size: 35px;
  font-weight: bold;
}

.join .close:hover, .close:focus {
  cursor: pointer;
}

/* Zoom Animation */
.join .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/*  small screens */
@media screen and (max-width: 300px) {
  .join span.psw {
      display: block;
      float: none;
  }

  .join .cancelbtn {
      width: 100%;
  }
}

.join .cancelbtn:hover {
  opacity: 0.8;
}

.join .submit:hover {
  opacity: 0.8;
}

.header #search[type=text] { /* here I used the search ID  with[type=text] meaning the user can input in text  */
  float: right;
  top: 8px;
  right: 65px;
  padding: 6px;
  width: 4in;
  border: 1px;
  color: black;
  box-shadow: var(--secondary-color);
  position: absolute;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  background-color: white;
  margin-top: 40px;
  margin-right: 75px;
  font-size: 17px;
  transition: 0.3s;
}

.header .searchbox button {
  float: right;
  position: absolute;
  top: 48px;
  right: 90px;
  padding: 6px 10px;
  background: #c9c7c7;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.header .searchbox .moon {
  float: right;
  position: absolute;
  background: rgb(201, 199, 199);
  padding: 5px 3px;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  top: 48px;
  right: 40px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.moon:hover {
  opacity: 0.8;
}

.textIp button{
  position: absolute;
  padding: 6px 10px;
  margin-left: 10px;
  background: #f1f1f1;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.textIp button:hover {
  background: rgb(63, 63, 62);
}

.header .searchbox button:hover {
  background: rgb(63, 63, 62);
}

.nav {
  background-color: var(--head);
  box-shadow: 5px 5px 5px var(--tertiary-color);
  overflow: hidden;
  transition: 0.3s;
}

.nav a {
  float: left;
  color: var(--secondary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: var(--secondary-color);
  padding: 14px 16px;
  background-color: var(--head);
  margin: 0;
  transition: 0.3s;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
}

.contents {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index:2;
}

.contents a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.contents a:hover {
  background-color: #ddd;
}

.dropdown:hover .contents {
  display: block;
}

.slideshow-container {
  max-width: 4000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.mySlides .topcard {
  margin: 10px 40px 0px 40px;
  background-color: var(--primary-color);
  box-shadow: 5px 5px 5px var(--tertiary-color);
  border: none;
  border-radius: 12px;
  transition: 0.3s;
  opacity: 0.8;
}

.recip {
  background-color: rgb(235, 235, 235);
  box-shadow: 0 10px 15px var(--tertiary-color);
  border: none;
}

.navbar {
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  overflow: hidden;
}

.mySlides .h1 {
  float: left;
}

.Image {
  padding: 20px;
  border-radius: 20px;
}

.topcard .card-body {
  color: var(--secondary-color);
}

.topcard:hover{
  opacity: 1
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex: 30%;
  padding: 50px;
  color: var(--secondary-color);
}

.main {   
  flex: 70%;
  padding: 50px;
  color: var(--secondary-color);
}

.exampleimg {
  background-color: var(--fakeImg);
  width: 100%;
  padding: 20px;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  transition: 0.3s;
}

.footer {
  padding: 10px;
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.about-us {
  color: var(--secondary-color);
}

.contact {
  color: var(--secondary-color);
}

.explore {
  color: var(--secondary-color);
}



/* Default mode */
:root {
  --head: #fff;
  --primary-color: #f1f1f1;
  --secondary-color: #1a1a1a;
  --tertiary-color: #d3d3d3;
  --fakeImg: #f7a9a9;
  --Gname: #f78fa7;
  --profileSide: #f7a9a9;
}

/*Dark mode*/
.dark-theme {
  --head: #272727;
  --primary-color: #141414;
  --secondary-color: #f8f8f8;
  --tertiary-color: #111111;
  --fakeImg: #111111;
  --Gname: #ffc1cc;
  --profileSide: #1a1a1a;
}
/* profile css  */
/* 
  Inspired from 
  Settings - Daily UI 007
  by Dillon Morris
  https://dribbble.com/shots/4290939-Settings-Daily-UI-007
*/

body,html{
  height:100%;
}
h2{
  font-weight: bolder;
  color: #898dbf;
}

form{
  width:550px;
}

form *{
  font-weight: bold;
}

form label{
  font-size: 18px;
  color:#8f9096;
}

form .form-control,form .form-control:focus{
  border-color:transparent;
  border-bottom-color: #bebcc1;
  box-shadow:none;
}

form .btn{ 
  border-radius: 0px;
  border-color: transparent;
}

.btn.btn-default{
  background: #ebebeb;
  color:#8f9096;
}


.btn.btn-primary{
  background: var(--profileSide);
  color:var(--primary-color);
}

.sidebar {
  height: 100vh !important;
  bottom: 0;
  padding-left:20px;
  font-size: 1.3rem;
}

.SettingSide {
  height:80vh !important;
  bottom: 0;
  padding-left:20px;
  font-size: 1.3rem;
  background: var(--profileSide);
}

@media screen and (max-width:940px){
  .sidebar{
      font-size: 1rem;
      padding-left :0px;
  }
}


.sidebar .nav-link{
  margin-bottom: 20px;
  color:#dddce5;
}

.nav-link.active{
  color:#fff;
}

.main > .row{
  height: 100%;
}

@media screen and (max-width:768px){
  .content{
      padding-left:50px; 
      width: 100%;
      padding-top: 200px;
      padding-bottom: 50px;
  }
  
  form{
      width: 100%;
      margin:auto;
  }
  
}

.menu {
  position: absolute;
  right: 10%;
  top:30px;
  margin:auto;
  display: none;  
  cursor:pointer;
  z-index: 5;
  height: 33px;
  width:30px;
}

.bar,.bar:after,.bar:before {
  width:30px;
  height:3px;
  background: pink;
  transition: all 0.2s;
}

.bar{
  position: relative;
}

.bar:after {
  position: absolute;
  content: '';
  left:0;
  top:10px;
  transition: top 0.2s 0.2s,transform 0.2s;
}

.bar:before {
  position: absolute;
  content: '';
  left:0;
  bottom:10px;
  transition: bottom 0.2s 0.2s,transform 0.2s;
}
.bar.animate{
  background: transparent;
}
.bar.animate:after{
  top:0;
  transform: rotate(45deg);
  transition: top 0.2s ,transform 0.2s 0.2s;
  background: #fff;
}

.bar.animate:before{
  bottom:0;
  transform: rotate(-45deg);
  transition: bottom 0.2s,transform 0.2s  0.2s;
  background: #fff;
}

.expand-menu {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: pink;
  transition: width 0.5s;
  width: 0%;
}

.expand-menu .nav-link{
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  color:#dddce5;
  font-size:1.5rem;
  display: none;
  opacity: 0;
  transition: all 0.5s;
}

.expand-menu .nav-link.animate{
  display: block;
}

.expand-menu .nav-link.animate-show{
  opacity:1;
}

.Settings .active{
  background:#dd7d7d;
}

.expand-menu.animate{
  width : 100%;
}
.article{
  width:auto;
  padding-top: 50px;



}

.image{
  width : 30s0px
}
#searchbar{
  padding-left: 600px;
}