@media screen and (max-width: 900px) {
  /* variable group name padding */
  .Gname {
    padding: 5%;
  }
}

.Gname h1 {
  /* fixed name */
  color: var(--Gname);
  font-family: "Nanum Pen Script", cursive;
  font-size: 60px;
  margin: 0px;
  cursor: pointer;
}

.Gname:hover {
  opacity: 0.8;
}

.header {
  /* header */
  padding: 30px;
  text-align: left;
  background: var(--primary-color);
  box-shadow: 5px 5px 5px var(--tertiary-color);
  background-size: 100px 100px;
  transition: 0.3s;
}

#search[type="text"] {
  /*Search bar */
  right: 65px;
  padding: 6px;
  width: 4in;
  border: 1px;
  color: black;
  background-color: #ececec;
  transition: 0.3s;
}

.submit button:hover {
  opacity: 0.6;
}

.submit button {
  /*Search bar submit button */
  float: right;
  top: 48px;
  right: 90px;
  padding: 6px 10px;
  background: #c9c7c7;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header .Right button {
  float: right;
  position: absolute;
  top: 48px;
  right: 94px;
  padding: 6px 10px;
  background: #c9c7c7;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.header .Right .moon {
  float: right;
  position: absolute;
  background: #c9c7c7;
  padding: 5px 3px;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  top: 45px;
  right: 30px;
  top: 45px;
  right: 85px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.avatar {
  float: right;
  position: absolute;
  background: #c9c7c7;
  top: 45px;
  right: 30px;
  padding: 5px 3px;
  box-shadow: 5px 5px 5px var(--tertiary-color);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.header .Right button.logout {
  float: right;
  position: absolute;
  top: 55px;
  right: 140px;
  padding: 5px 3px;
  box-shadow: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  color: var(--Gname);
}

.logout:hover {
  text-decoration: underline;
}

.moon:hover {
  opacity: 0.8;
}

.avatar:hover {
  opacity: 0.8;
}
